@import '../../Base/mixins.scss';

.container {
  @include container;
  padding: 70px 0 100px;
}

.mainText {
  font-size: 30px;
  text-align: center;
  color: $primaryBlue;

  &::after {
    margin-top: 40px;
    content: '';
    display: block;
    height: 45px;
    width: 100%;
    border-right: 1px solid $primaryBlue;
    border-bottom: 1px solid $primaryBlue;
  }

  @media (max-width: 900px) {
    font-size: 24px;
  }
}

.billion {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.billionImage {
  padding: 20px;
  width: 367px;

  @media (max-width: 900px) {
    width: 290px;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.billionText {
  padding-left: 100px;
  font-size: 50px;
  font-weight: 700;
  color: $primaryBlue;

  @media (max-width: 900px) {
    font-size: 40px;
    padding-left: 40px;
  }

  @media (max-width: 600px) {
    font-size: 30px;
  }
}

.impact {
  border-top: 1px solid $primaryBlue;
  margin-top: 140px;
  display: flex;
  color: $primaryBlue;
  align-items: center;

  @media (max-width: 800px) {
    flex-direction: column;
    border-top: none;
  }
}

.impactText {
  font-size: 50px;
  font-weight: 700;
  padding: 0 45px;
  border-right: 1px solid $primaryBlue;
  align-self: stretch;
  display: flex;
  align-items: center;
  width: 40%;

  @media (max-width: 800px) {
    border-right: none;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.impactPercent {
  padding: 40px 65px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 1px;
    background: $primaryBlue;

    @media (max-width: 800px) {
      display: none;
    }
  }

  @media (max-width: 800px) {
    padding: 40px 10px;
  }
}

.impactPercentItemCenter {
  margin: 40px 0;
}

.impactPercentItem {
  display: flex;
  align-items: center;

  h3 {
    font-size: 50px;
    font-weight: 700;
  }

  p {
    font-size: 25px;
    line-height: 35px;
    margin-left: 40px;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;

    p {
      margin-left: 0;
    }
  }
}
