@import '../../Base/mixins.scss';
@import '../../Base/variables.scss';

.contact {
  padding: 100px 0;
}

.container {
  @include container;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include title;
  @include sectionTitle;

  color: $primaryBlue;
}

.description {
  margin-top: 25px;
  font-size: 20px;
  color: $primaryBlue;
  text-align: center;
}

.button {
  @include button;

  margin-top: 45px;
}
