@import '../Base/variables.scss';
@import '../Base/mixins.scss';

.nav {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s all;
  padding: 40px 0;

  &__shrinked {
    background: white;
    padding: 20px 0;
  }
}

.nav__container {
  @include container;

  display: flex;
  justify-content: space-between;
}

.navImageConainer {
  position: relative;

  img {
    width: 115px;
  }
}

.navList {
  display: flex;
  align-items: center;

  @media (max-width: 1000px) {
    display: none;
  }
}

.navItem {
  margin-left: 35px;
  color: $primaryBlue;
  font-weight: 500;
  font-size: 16px;
  transition: 0.2s all;

  &:hover {
    color: $coralGreen;
  }

  a {
    white-space: nowrap;
  }
}

.hamburger {
  display: none;

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
  }

  span {
    display: block;
    background: $primaryBlue;
    margin: 3px 0;
    border-radius: 2px;
    width: 40px;
    height: 3px;
  }
}

.nav__mobileMenu {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 355px;
  padding-top: 20px;
  left: 0;
  top: -355px;
  transition: 0.3s;
}

.nav__mobileMenuOpen {
  top: 0;
}

.navItemMobile {
  color: $primaryBlue;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;

  &::before,
  &::after {
    top: 0;
    left: 15px;
    position: absolute;
    content: '';
    height: 25px;
    width: 2px;
    background-color: $primaryBlue;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
