@import '../Base/variables.scss';
@import '../Base/mixins.scss';

.nav {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s all;
  padding: 40px 0;

  &__shrinked {
    background: white;
    padding: 20px 0;
  }
}

.nav__container {
  @include container;

  display: flex;
  justify-content: space-between;
}

.navImageConainer {
  position: relative;

  img {
    width: 115px;
  }
}

.navList {
  display: flex;
  align-items: center;
}

.navItem {
  margin-left: 35px;
  color: $primaryBlue;
  font-weight: 500;
  font-size: 16px;
  transition: 0.2s all;

  &:hover {
    color: $coralGreen;
  }

  a {
    white-space: nowrap;
  }
}
