@import '../../Base/mixins.scss';

.container {
  @include container;

  color: $primaryBlue;
  padding: 100px 0;
}

.dropsContainer {
  display: flex;
  border-bottom: 1px solid $primaryBlue;

  @media (max-width: 1200px) {
    flex-direction: column;
    border-bottom: none;
  }
}

.dropsImagesContainer {
  display: flex;
  justify-content: space-around;
  width: 55%;
  border-right: 1px solid $primaryBlue;
  padding-top: 40px;
  padding-bottom: 80px;

  @media (max-width: 1200px) {
    border-right: none;
    flex-direction: column;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 0;
  }
}

.dropsTextContainer {
  padding-top: 40px;
  padding-left: 60px;
  width: 45%;

  h3 {
    font-size: 37px;
    font-weight: 700;
  }

  p {
    margin-top: 40px;
    font-size: 25px;
    line-height: 35px;
  }

  @media (max-width: 1200px) {
    width: 100%;
    padding-left: 0;
    padding-bottom: 30px;
    border-bottom: 1px solid $primaryBlue;

    p {
      font-size: 20px;
    }
  }
}

.dropsImagesItem {
  img {
    max-width: 300px;
    max-height: 250px;
  }

  @media (max-width: 1200px) {
    img {
      margin: 0 auto;
    }

    p {
      text-align: center;
    }
  }
}

.slipsContainer {
  display: flex;

  @media (max-width: 1200px) {
    flex-direction: column-reverse;
  }
}

.slipsTextContainer {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  width: 45%;
  border-right: 1px solid $primaryBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 37px;
    font-weight: 700;
  }

  p {
    font-size: 25px;
    line-height: 35px;
    margin-top: 30px;
  }

  @media (max-width: 1200px) {
    border-right: none;
    width: 100%;
    padding-left: 0;
  }
}

.slipsImagesContainer {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 70%;
  }

  p {
    margin-top: 20px;
    width: 50%;
    font-size: 20px;
    text-align: center;
  }
}
