@import '../../Base/mixins.scss';

.technoloies {
  background: radial-gradient(78.11% 385.9% at 26.13% 25.18%, #bbe5e5 0%, #a29dfb 44.79%, #ebdb92 100%);
  padding-top: 40px;

  &__container {
    @include container;

    display: flex;

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  &__textContainer {
    padding: 120px 0;

    @media (max-width: 900px) {
      padding: 40px 0;
    }

    @media (max-width: 600px) {
      padding: 10px 0 40px;
    }
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    color: white;

    @media (max-width: 900px) {
      font-size: 45px;
    }

    @media (max-width: 600px) {
      font-size: 35px;
    }
  }

  &__description {
    margin-top: 25px;
    font-size: 25px;
    line-height: 37px;
    color: $primaryBlue;

    @media (max-width: 600px) {
      font-size: 20px;
    }
  }

  &__image {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }
}

.imageContainer {
  margin-left: 60px;
  min-width: 500px;
  max-width: 500px;
  min-height: 480px;
  max-height: 480px;
  align-self: flex-end;
  display: flex;
  position: relative;

  @media (max-width: 900px) {
    align-self: center;
    margin-left: 0;
    min-width: 400px;
    max-width: 400px;
    min-height: 385px;
    max-height: 385px;
  }
}

.imageDrop1,
.imageDrop2,
.imageDrop3,
.imageDrop4 {
  position: absolute;

  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;
}

.imageDrop1 {
  top: 115px;
  right: 75px;
  width: 75px;

  @media (max-width: 900px) {
    top: 90px;
    right: 57px;
    width: 65px;
  }
}

.imageDrop2 {
  top: 295px;
  right: 190px;
  width: 110px;
  animation-delay: 0.2s;

  @media (max-width: 900px) {
    top: 236px;
    right: 151px;
    width: 90px;
  }
}

.imageDrop3 {
  top: 122px;
  right: 355px;
  width: 75px;
  animation-delay: 0.4s;

  @media (max-width: 900px) {
    top: 95px;
    right: 276px;
    width: 65px;
  }
}

.imageDrop4 {
  top: -10px;
  right: 205px;
  width: 100px;
  animation-delay: 0.6s;

  @media (max-width: 900px) {
    right: 160px;
    width: 85px;
  }
}

.imageDrop1Shadow,
// .imageDrop2Shadow,
.imageDrop3Shadow,
.imageDrop4Shadow {
  position: absolute;
  height: 2px;
  animation: shadow 2s ease-in-out infinite;
  width: 30px;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.8);
}

.imageDrop1Shadow {
  top: 220px;
  right: 95px;

  @media (max-width: 900px) {
    top: 170px;
    right: 75px;
  }
}

// .imageDrop2Shadow {
//   top: 320px;
//   right: 200px;
// }

.imageDrop3Shadow {
  top: 225px;
  right: 375px;
  animation-delay: 0.4s;

  @media (max-width: 900px) {
    top: 174px;
    right: 293px;
  }
}

.imageDrop4Shadow {
  top: 95px;
  right: 240px;
  animation-delay: 0.6s;

  @media (max-width: 900px) {
    top: 74px;
    right: 188px;
  }
}

@keyframes float {
  0% {
    // box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    // box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-7px);
  }
  100% {
    // box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes shadow {
  0% {
    width: 30px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.8);
  }
  50% {
    width: 25px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
  }
  100% {
    width: 30px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.8);
  }
}
