@import '../../Base/mixins.scss';

.technoloies {
  background: radial-gradient(78.11% 385.9% at 26.13% 25.18%, #bbe5e5 0%, #a29dfb 44.79%, #ebdb92 100%);

  &__container {
    @include container;

    display: flex;
  }

  &__textContainer {
    padding: 120px 0;
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    color: white;
  }

  &__description {
    margin-top: 25px;
    font-size: 25px;
    line-height: 37px;
    color: $primaryBlue;
  }

  &__image {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }
}

.imageContainer {
  margin-left: 60px;
  min-width: 500px;
  max-width: 500px;
  min-height: 480px;
  max-height: 480px;
  align-self: flex-end;
  display: flex;
  position: relative;
}

.imageDrop1,
.imageDrop2,
.imageDrop3,
.imageDrop4 {
  position: absolute;
}

.imageDrop1 {
  top: 115px;
  right: 75px;
  width: 75px;
}

.imageDrop2 {
  top: 295px;
  right: 190px;
  width: 110px;
}

.imageDrop3 {
  top: 122px;
  right: 355px;
  width: 75px;
}

.imageDrop4 {
  top: -10px;
  right: 205px;
  width: 100px;
}
