@import '../../Base/mixins.scss';

.container {
  @include container;

  padding: 110px 0 30px;
}

.item {
  display: flex;
  margin-bottom: 130px;

  @media (max-width: 800px) {
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.itemTwo {
  @media (max-width: 800px) {
    flex-direction: column-reverse;
  }
}

.image__container {
  flex-basis: 50%;
  position: relative;
  padding: 60px 0;
}

.image__many_drops {
  margin: 0 auto;
  width: 80%;
}

.image__one_drop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.text__container {
  position: relative;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 50px 100px 100px;
  color: $primaryBlue;

  @media (max-width: 800px) {
    padding: 40px 20px;
  }
}

.left_lines_top {
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  position: absolute;
  border-top: 1px solid $primaryBlue;
  border-left: 1px solid $primaryBlue;
  border-right: 1px solid $primaryBlue;
}

.left_lines_bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 45px;
    height: 45px;
    border-bottom: 1px solid $primaryBlue;
  }

  &::before {
    left: 0;
    border-left: 1px solid $primaryBlue;
  }

  &::after {
    right: 0;
    border-right: 1px solid $primaryBlue;
  }
}

.title {
  font-size: 50px;
  font-weight: 700;

  @media (max-width: 600px) {
    font-size: 35px;
  }
}

.subtitle {
  margin-top: 25px;
  font-size: 25px;

  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.description {
  margin-top: 40px;
  font-size: 18px;

  @media (max-width: 600px) {
    font-size: 15px;
  }
}

.right_lines_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  border-top: 1px solid $primaryBlue;

  @media (max-width: 800px) {
    border-top: none;
  }
}

.border_right {
  border-right: 1px solid $primaryBlue;

  @media (max-width: 800px) {
    border-right: none;
  }
}

.border_left {
  border-left: 1px solid $primaryBlue;

  @media (max-width: 800px) {
    border-left: none;
  }
}

.image__paper_container {
  flex-basis: 50%;
  position: relative;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.paper_image_holder {
  min-height: 400px;
  max-height: 400px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__paper2,
.image__paper3 {
  min-width: 400px;
  max-width: 400px;
  min-height: 243px;
  max-height: 243px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);

  @media (max-width: 800px) {
    min-width: 300px;
    max-width: 300px;
    min-height: 170px;
    max-height: 170px;
  }
}

.image__paper1 {
  min-width: 400px;
  max-width: 400px;
  min-height: 243px;
  max-height: 243px;
  position: relative;
  top: -40px;

  @media (max-width: 800px) {
    min-width: 300px;
    max-width: 300px;
    min-height: 170px;
    max-height: 170px;
  }
}

.image__paper2 {
  top: 70px;
  z-index: -1;
}

.image__paper3 {
  top: 100px;
  z-index: -2;
}
