@import './variables.scss';

@mixin container {
  width: 85%;
  margin: 0 auto;

  @media(max-width: 900px) {
    width: 90%;
  }

  @media(max-width: 900px) {
    width: 95%;
  }
}

@mixin title {
  font-size: 50px;
  font-weight: 700;
}

@mixin sectionTitle {
  text-align: center;
  color: $primaryBlue;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;

  @media(max-width: 700px) {
    font-size: 45px;
  }

  @media(max-width: 550px) {
    font-size: 37px;
  }
}

@mixin button {
  background: $primaryBlue;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  transition: 0.3s all;

  &:hover {
    background: $coralGreen;
  }

  &:active {
    background: darken($color: $primaryBlue, $amount: 10%);
  }

  &:disabled {
    background: $gray;
  }
}

@mixin input {
  padding: 10px 15px;
  border: none;
}

@mixin input-bordered {
  @include input;

  border: 1px solid #c4c4c4;
}
