@import '../../Base/mixins.scss';
@import '../../Base/variables.scss';

.footer {
  background: $primaryBlue;
  color: white;
  padding: 80px 0 30px;
}

.container {
  @include container;
}

.logoNav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.navList {
  display: flex;

  @media (max-width: 1200px) {
    margin-top: 40px;
    flex-wrap: wrap;

    width: 100%;
  }
}

.logo {
  font-size: 40px;
  font-weight: 700;
}

.navItem {
  margin-left: 40px;

  @media (max-width: 1200px) {
    margin-left: 0;
    margin-bottom: 25px;
    width: 50%;
  }
}

.social {
  margin-top: 50px;
  display: flex;
  align-items: flex-end;

  img {
    margin-right: 20px;
  }
}

.email {
  margin-top: 25px;
}

.phone {
  margin-top: 25px;
}

.address {
  margin-top: 25px;
}

.copyright {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1200px) {
    flex-direction: column;

    p {
      margin-bottom: 10px;
    }
  }
}
