@import '../../Base/mixins.scss';

.title {
  @include container;

  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: $primaryBlue;
  padding: 80px 0;
}

.solutions {
  background: $lightBlue;
  padding: 55px 0;
}

.container {
  @include container;

  display: flex;
  color: $primaryBlue;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.leftText {
  width: 40%;
  font-weight: 700;
  font-size: 37px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  border-right: 1px solid $primaryBlue;

  @media (max-width: 900px) {
    border-right: none;
  }
}

.rightTextContainer {
  width: 60%;
  font-size: 25px;

  @media (max-width: 900px) {
    width: 100%;
    border-left: 1px solid $primaryBlue;
  }
}

.bold {
  font-weight: 700;
}

.topText {
  padding: 30px 40px 30px 80px;
  position: relative;

  &::after {
    content: '';
    height: 1px;
    width: 57px;
    background: $primaryBlue;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  @media (max-width: 900px) {
    padding-left: 30px;
    padding-right: 40px;
    font-size: 20px;
  }
}

.bottomText {
  padding: 30px 40px 30px 80px;

  @media (max-width: 900px) {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
  }
}
