@import '../../Base/variables.scss';

.header {
  background: $lightBlue;
  position: relative;
  padding: 160px 0;

  @media (max-width: 600px) {
    padding: 140px 0 110px;
  }

  &__title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: $primaryBlue;
    font-weight: 500;
    font-size: 64px;

    @media (max-width: 700px) {
      width: 90%;
    }

    @media (max-width: 600px) {
      font-size: 46px;
    }

    @media (max-width: 370px) {
      font-size: 42px;
    }
  }

  &__waterImage {
    width: 1650px;
    height: 924px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -487px;

    @media (max-width: 600px) {
      width: 900px;
      height: 684px;
      bottom: -358px;
    }
  }
}
