@import '../../Base/variables.scss';

.subheader {
  padding-bottom: 122px;

  &__dropImage {
    width: 464px;
    margin: 100px auto 0;
    position: relative;
    top: 0;
    transition: 0.3s all;
  }

  &__dropImage__lower {
    top: 20px;
  }

  &__description__container {
    max-width: 1240px;
    margin: 0 auto;
    text-align: center;
    color: $primaryBlue;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 45px;
      border-bottom: 1px solid $primaryBlue;
      border-right: 1px solid $primaryBlue;
    }
  }

  &__description {
    margin-top: 80px;
    font-weight: 500;
    font-size: 30px;
  }
}
